@charset "utf-8";

body {
    font-family: 'roboto', sans-serif;
}

:root {
    --dark-orange-color: #F95738;
    --light-orange-color: #EE964B;
    --dark-blue-color: #0D3B66;
    --blue-color: #2f66fd;
    --beje-color: #FAF0CA;
    --yellow-color: #F4D35E;
    --dark-green-color: green;
    --black-color: black;
}

/* Nav */
.header-principal {
    background-color: #F95738;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 15px 40px 10px 25px;
    display: flexbox;
    align-items: center; 
    justify-content: center;
    
}
.logo-header {
    width: 10%;
    height: 10%;
    text-align: left;
}

.form-search-header {
    display: inline-block;
    padding: 0 100px 0 30px;
    vertical-align:  middle;

}
.a-il-ul-nav-header, a-login-nav-header{
    text-decoration: none;
    color: var(--black-color);
    
}

.div-login-header {
    display: inline;
    text-align: right;
    padding-left: 30px;
}



.nav-header {
    position: relative;
    display: inline;
    vertical-align: middle;

}

.ul-nav-header {
    display: inline;

}

.il-nav-header {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 20px;

}




/* Card */
.card {
    width: 25%;
    margin-top: 40px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.133);
    transition: .8s;
}

.card img {
    width: 100%;
}

.card h1 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
}

.card h2 {
    color: var(--dark-green-color);
    font-size: 30px;
    font-weight: bold;
}

.card p {
    color: rgba(0, 0, 0, 0.599);
    font-size: 16px;
}

.card a {
    padding: 10px 20px;
    width: 100%;
    font-size: 22px;
    background-color: var(--dark-orange-color);
    color: white;
}

.card a:hover {
    background-color: rgb(56, 130, 242);
}

/* Letter news */

.news-letter {
    margin-top: 40px;
    background-color: var(--dark-blue-color);
    padding: 30px 0;
    color: white;
}

.news-text h1 {
    margin: 30px 0 40px 0;
    padding: 0 20px 0 0;
    font-size: 30px;
    font-weight: bold;
}

.news-text p {
    padding: 0 20px 0 0;
    font-size: 24px;
    line-height: 2;
}

.news-letter label {
    margin-bottom: 8px;
    font-size: 20px;
}

.news-letter input {
    margin-bottom: 20px;
}

.news-letter button[type="submit"] {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--dark-orange-color);
    color: white;
}


/* Footer */