@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    width: 100vw;
}

:root {
    --dark-orange-color: #F95738;
    --light-orange-color: #EE964B;
    --dark-blue-color: #0D3B66;
    --blue-color: #2f66fd;
    --beje-color: #FAF0CA;
    --yellow-color: #F4D35E;
    --dark-green-color: green;
    --black-color: black;
}

/* Nav */
.header-principal {
    background-color: #F95738;
    width: 100%;
    justify-content: space-around;
    vertical-align: middle;
    padding: 15px 10px 10px 10px;
    display: flexbox;
    margin-bottom: 50px;
}

.logo-header {
    width: 10%;
    height: 10%;
    text-align: left;
}

.form-search-header {
    display: inline-block;
    padding: 0 25px 0 10px;
    vertical-align: middle;


}

.inp-search-nav {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.409868170901173) 36%, rgba(236, 236, 236, 0.7768149496126575) 100%);
    border: none;
    border-radius: 5px;
    width: 25em;
    height: 2em;

}

.btn-inp-search-nav-header {
    border: 1px solid black;
    border-radius: 10px;
    width: 8em;
    height: 2em;
}

.btn-inp-search-nav-header:hover {
    background-color: rgb(194, 194, 194);
}

.a-il-ul-nav-header,
.a-login-nav-header {
    text-decoration: none;
    color: var(--black-color);

}

.nav-header {
    position: relative;
    display: inline;
    vertical-align: middle;
    padding-right: 6em;

}

.ul-nav-header {
    display: inline;

}

.il-nav-header {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 50px;

}

.div-login-header {
    display: inline;
    text-align: right;
    padding-left: 30px;

}


/* Card */

.linha-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 30px 10px; 
    border-radius: 5px;
    height: 500px;
    width: 20%;
}

.card:hover {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    transition: .8s;
}

.card img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 10px 0;
}

.card .branco { 
    height: 59px;
}

.card h1 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.card h2 {
    color: var(--dark-green-color);
    font-size: 25px;
    font-weight: bold;
}

.card p {
    color: rgba(0, 0, 0, 0.599);
    font-size: 16px;
}

.card a {
    padding: 10px 20px;
    width: 100%;
    font-size: 22px;
    background-color: transparent;
    border: 3px solid var(--dark-orange-color);
    color: black;
    display: none;
}

.card a:hover {
    background-color: var(--dark-orange-color);
    color: white;
    transition: 0.6s;
}

/* Letter news */

.news-letter {
    margin-top: 40px;
    background-color: var(--dark-blue-color);
    padding: 30px 0;
    color: white;
}

.news-text h1 {
    margin: 30px 0 40px 0;
    padding: 0 20px 0 0;
    font-size: 30px;
    font-weight: bold;
}

.news-text p {
    padding: 0 20px 0 0;
    font-size: 24px;
    line-height: 2;
}

.news-letter label {
    margin-bottom: 8px;
    font-size: 20px;
}

.news-letter input {
    margin-bottom: 20px;
}

.news-letter button[type="submit"] {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--dark-orange-color);
    color: white;
}


/* Footer social */

.social {
    background-color: white;
    color: black;
    padding: 40px 0;
}

.social h2 {
    font-size: 40px;
    text-align: center;
}

.social i {
    color: black;
}

.social .logo {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 40px;
    font-size: 30px;
}


/* Footer infos */
.footer {
    background-color: var(--blue-color);
    color: #fff;
    padding: 40px 0;
}

.footer .container {
    display: flex;
    justify-content: space-around;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 60px;
    align-items: center;
}

.logo-img img {
    width: 100%;
}

.logo-text {
    font-size: 20px;
    align-items: center;
}


.info-footer p{
    font-size: 20px;
    margin: 0;
}

/* Parte de login */
.login-body {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.form-login {
    width: max(50%, 400px);
    background-color: var(--blue-color);
    margin: 200px 0;
    padding: 80px;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.493);
}

.form-login h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-login h2 {
    font-size: 20px;
    color: rgb(222, 212, 212);
}

.form-login label {
    font-size: 20px;
    margin-top: 20px;
}

.form-login button {
    color: white;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--light-orange-color);
    border-radius: 10px;
    width: 100%;
    border: none;
    text-align: center;
}

.form-login button:hover {
    background-color: #e48736;
    transition: .5s;
    transform: scale(1.01);
}

.form-login a {
    text-align: center;
}


/* media querie para tablets */
@media (max-width: 992px) {

    .card {
        width: 44%;
    }

    .card h2 {
        font-size: 30px;
    }

    .card a {
        font-size: 15px;
    }

    .card .branco { 
        height: 48.5px;
    }

    .form-login {
        width: 90%;
    }

}

/* Media querie para celulares */
@media (max-width: 576px) {

    .card h2 {
        font-size: 20px;
        padding: 0px;
    }

    .card a {
        font-size: 15px;
    }

    .card .branco { 
        height: 48.5px;
    }

    .form-login {
        width: 90vw;
        margin: 100px 0px;
        padding: 100px 20px;
    }

    .form-login h1 {
        font-size: 22px;
    }

    .form-login h2 {
        font-size: 16px;
    }

} 
